<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Clinder</name>
    <description>
        First stab at an app.
    </description>
    <author email="kendellclement@gmail.com">
        Kendell Clement
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
